Node-RED/IoT Dashboard flow ferdig
[{"id":"96e965d5.be94e8","type":"rpi-sensehat in","z":"880a7743.4ebd48","name":"Antarktis SenseHat","motion":false,"env":true,"stick":false,"x":150,"y":220,"wires":[["380a60e7.bc318","15970af5.e9ec45","b15a51db.b29e9"]]},{"id":"380a60e7.bc318","type":"function","z":"880a7743.4ebd48","name":"temperatur","func":"var inn = msg.payload\nmsg.payload = inn.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":123,"wires":[["36bdccc8.88a1b4","a57a6c3f.21485","a598263d.188ac8"]]},{"id":"15970af5.e9ec45","type":"function","z":"880a7743.4ebd48","name":"trykk","func":"\nvar inn = msg.payload\nmsg.payload = inn.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":223,"wires":[["4236097a.927c58","ade27b20.99b1f8"]]},{"id":"b15a51db.b29e9","type":"function","z":"880a7743.4ebd48","name":"luftfuktighet","func":"\nvar inn = msg.payload\nmsg.payload = inn.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":323,"wires":[["e2914455.435228","c0169054.cbba4"]]},{"id":"36bdccc8.88a1b4","type":"mqtt out","z":"880a7743.4ebd48","name":"sense/temperature","topic":"sense/temperature","qos":"0","retain":"","broker":"1f781f9a.ff79a","x":830,"y":140,"wires":[]},{"id":"4236097a.927c58","type":"mqtt out","z":"880a7743.4ebd48","name":"sense/pressure","topic":"sense/pressure","qos":"0","retain":"","broker":"1f781f9a.ff79a","x":820,"y":240,"wires":[]},{"id":"e2914455.435228","type":"mqtt out","z":"880a7743.4ebd48","name":"sense/humidity","topic":"sense/humidity","qos":"0","retain":"","broker":"1f781f9a.ff79a","x":820,"y":340,"wires":[]},{"id":"663b6a75.98cef4","type":"xbee-rx","z":"880a7743.4ebd48","name":"COORD","xBee":"c825c01f.8e9b6","x":110,"y":520,"wires":[["ff697a3b.085538","3beab2f6.dd8a6e"]]},{"id":"81c411fd.40ba2","type":"mqtt out","z":"880a7743.4ebd48","name":"Air Quality MQTT","topic":"xbee/airquality","qos":"0","retain":"","broker":"1f781f9a.ff79a","x":830,"y":480,"wires":[]},{"id":"ff697a3b.085538","type":"function","z":"880a7743.4ebd48","name":"DataSampleAD3","func":"var xBeeAD3 = msg.payload\nmsg.payload = xBeeAD3.analogSamples.AD3;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":463,"wires":[["81c411fd.40ba2","1e17f5bc.ad513a"]]},{"id":"c612456c.86a928","type":"mqtt out","z":"880a7743.4ebd48","name":"Light Sensor MQTT","topic":"xbee/lux","qos":"0","retain":"","broker":"1f781f9a.ff79a","x":830,"y":580,"wires":[]},{"id":"3beab2f6.dd8a6e","type":"function","z":"880a7743.4ebd48","name":"DataSampleAD1","func":"var xBeeAD0 = msg.payload\nmsg.payload = xBeeAD0.analogSamples.AD0;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":583,"wires":[["c612456c.86a928","e1134d67.44d7a","e51203aa.db13a"]]},{"id":"1e17f5bc.ad513a","type":"ui_gauge","z":"880a7743.4ebd48","name":"Luftkvalitet","group":"83f48634.67c8f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Luftkvalitet","label":"","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":810,"y":440,"wires":[]},{"id":"a598263d.188ac8","type":"ui_gauge","z":"880a7743.4ebd48","name":"","group":"e5d307c4.e56e88","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"Celsius","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"50","x":810,"y":57,"wires":[]},{"id":"a57a6c3f.21485","type":"ui_chart","z":"880a7743.4ebd48","name":"Temperatur Graf","group":"e5d307c4.e56e88","order":2,"width":0,"height":0,"label":"Temperatur i Celsius","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Ingen data","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":100,"wires":[[],[]]},{"id":"ade27b20.99b1f8","type":"ui_chart","z":"880a7743.4ebd48","name":"Trykk Graf","group":"e5d307c4.e56e88","order":3,"width":0,"height":0,"label":"Barometer i mb","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Ingen data","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":200,"wires":[[],[]]},{"id":"c0169054.cbba4","type":"ui_chart","z":"880a7743.4ebd48","name":"Luftfuktighet Graf","group":"e5d307c4.e56e88","order":4,"width":0,"height":0,"label":"Luftfuktighet i %","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Ingen data","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#27a02a","#98df8a","#d61d1f","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":300,"wires":[[],[]]},{"id":"e1134d67.44d7a","type":"ui_chart","z":"880a7743.4ebd48","name":"Lys sensor Graf","group":"83f48634.67c8f8","order":0,"width":0,"height":0,"label":"Lysstyrke i lu","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Ingen data","dot":false,"ymin":"0","ymax":"1800","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#a4db9c","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":540,"wires":[[],[]]},{"id":"de1d6db4.f7491","type":"mqtt in","z":"880a7743.4ebd48","name":"","topic":"personteller/antall","qos":"0","broker":"1f781f9a.ff79a","x":150,"y":700,"wires":[["8930fff3.637eb"]]},{"id":"4c5c43fc.f2c07c","type":"ui_text","z":"880a7743.4ebd48","group":"2b7120a2.fb2df","order":0,"width":0,"height":0,"name":"","label":"Antall personer i rommet: ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":700,"wires":[]},{"id":"8930fff3.637eb","type":"function","z":"880a7743.4ebd48","name":"antall personer","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":700,"wires":[["4c5c43fc.f2c07c","20cefc44.dee1f4"]]},{"id":"20cefc44.dee1f4","type":"ui_chart","z":"880a7743.4ebd48","name":"","group":"2b7120a2.fb2df","order":0,"width":0,"height":0,"label":"Personteller Graf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Ingen data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":740,"wires":[[],[]]},{"id":"e51203aa.db13a","type":"function","z":"880a7743.4ebd48","name":"er lyset på","func":"var lysverdi = msg.payload\n\nif(lysverdi > 800){\n    msg.payload = \"PÅ\";\n    return msg;\n}else {\n   msg.payload = \"AV\";\n    return msg; \n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":640,"wires":[["c0850fd2.6a60b"]]},{"id":"c0850fd2.6a60b","type":"ui_text","z":"880a7743.4ebd48","group":"83f48634.67c8f8","order":0,"width":0,"height":0,"name":"","label":"Lyset er:","format":"{{msg.payload}}","layout":"row-center","x":960,"y":640,"wires":[]},{"id":"fdb19699.9dd7a8","type":"function","z":"880a7743.4ebd48","name":"Frisk luft alarm","func":"\nvar xBeeAD3 = msg.payload\nmsg.payload = xBeeAD3.analogSamples.AD3;\n\nif(msg.payload > 400){\n    msg.payload = \"Get some fresh air! The air quality is very poor!\";\n}else {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1060,"wires":[["5624bb3f.b52324"]]},{"id":"5624bb3f.b52324","type":"ui_audio","z":"880a7743.4ebd48","name":"Lyd","group":"820b3b38.b1d108","voice":"en-US","always":true,"x":870,"y":1060,"wires":[]},{"id":"b1582472.4a6328","type":"function","z":"880a7743.4ebd48","name":"epost alarm","func":"var inn = msg.payload\nmsg.payload = inn.temperature;\n\nif(msg.payload > 50){\n    msg.payload = \"Det er over 50 grader i E472\";\n} else {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1140,"wires":[["34d3bb69.a98cf4"]]},{"id":"34d3bb69.a98cf4","type":"e-mail","z":"880a7743.4ebd48","server":"smtp.gmail.com","port":"465","secure":true,"name":"sondreherr@gmail.com","dname":"","x":940,"y":1137,"wires":[]},{"id":"1f781f9a.ff79a","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.26","port":"1883","clientid":"testtemp","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c825c01f.8e9b6","type":"xbee-config","z":"","apiMode":"1","rawFrames":false,"convertAdc":true,"vrefAdc":"1200","serialPort":"/dev/ttyUSB0","lock":true,"baudRate":"9600","dataBits":"8","stopBits":"1","parity":"none","bufferSize":"65536","rtscts":true,"xon":false,"xoff":false,"xany":false,"vmin":"1","vtime":"0"},{"id":"83f48634.67c8f8","type":"ui_group","z":0,"name":"ZigBee Sensordata","tab":"eb9db37a.8134e","order":5,"disp":true,"width":"8","collapse":true},{"id":"e5d307c4.e56e88","type":"ui_group","z":0,"name":"WiFi Sensordata","tab":"eb9db37a.8134e","order":1,"disp":true,"width":"8","collapse":true},{"id":"2b7120a2.fb2df","type":"ui_group","z":"","name":"Personteller MQTT","tab":"eb9db37a.8134e","disp":true,"width":"8","collapse":false},{"id":"820b3b38.b1d108","type":"ui_group","z":0,"name":"WiFi Sensordata","tab":"2fa27e1b.be24b2","order":1,"disp":true,"width":"8","collapse":true},{"id":"eb9db37a.8134e","type":"ui_tab","z":0,"name":"E472","icon":"dashboard"},{"id":"2fa27e1b.be24b2","type":"ui_tab","z":0,"name":"E472","icon":"dashboard"}]
